<div class="page">
  <div class="row">
    <div class="col-md-6">
      <h1>Pagina home</h1>
    </div>
    <!-- <div>
      <div class="container" appDnd (fileDropped)="onFileDropped($event)">
        <input type="file" #fileDropRef id="fileDropRef" (change)="fileBrowseHandler($event.target.files)" />
        <i class="fa-solid fa-arrow-up-from-bracket fa-2xl"></i>
        <h3>Arraste aqui seus arquivos</h3>
        <h3>ou</h3>
        <label for="fileDropRef">Selecione arquivos</label>
      </div>
    </div> -->
  </div>
</div>
