$primary: #3f51b5;
$secundary: #5566c3;

$primary-grey: rgb(197, 196, 196);
$secundary-grey: rgb(163, 162, 162);

.center {
  text-align: center;
}

mat-drawer-content {
  display: block;
  padding-bottom: 100%;
}

mat-toolbar {
  color: $primary;
  background-color: $primary;
  padding: none;
}

.menu {
  width: 40%;
  height: flex;
  max-width: 250px;
  background-color: $primary;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
}

.menu-itens {
  text-decoration: none;
  color: white;
}

.btn-menu-itens {
  display: flex;
  display: inline-block;
  text-decoration: none;
  color: white;
  max-width: 250px;
  width: 100%;
  height: 60px;
  border: none;
  border-bottom: 1px white solid;
  background-color: $primary;
  &:hover {
    color: white;
    text-decoration: none;
    background-color: $secundary;
  }
}

.item{
  display: table-cell;
  padding-right: 10px;
  vertical-align: middle;
  text-align: left;
  margin-left: 40%;
  max-width: 200px;
}

.icon{
  display: table-cell;
  padding: 0px 10px 0px 30px;
  vertical-align: middle;
  text-align: left;
  margin-left: 100px;
  max-width: 200px;
}

.brand {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 5px;
  height: 64px;
  max-width: 250px;
  cursor: pointer;
}

.page {
  padding: 4px 1% 4px 1%;
}

.img-logo {
  height: 40px;
  margin-left: -32px;
  max-width: 213px;
  object-fit: cover;
}

.mat-menu-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 48px;
  height: 48px;
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  max-width: 100%;
  position: relative;
  color: white;
  background-color: $primary;
  &:hover{
    background-color: $secundary;
  }
}

.mat-menu-content:not(:empty) {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: $primary;
}

.spacer {
  flex: 1 1 auto;
}

.btn-menu {
  background-color: $primary;
  border: none;
  padding: 1%;
  max-height: 64px;
  &:hover {
    background-color: $secundary;
  }
}

.mat-icon {
  color: white;
}

.mat-toolbar {
  background: $primary;
  color: white;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  display: flex;
  box-sizing: border-box;
  padding: none;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}
