<mat-drawer-container [hasBackdrop]="false">
  <mat-drawer class="menu" #drawer [mode]="'side'">
    <div class="brand" (click)="onRedirect('home')">
      <img class="img-logo" src="../assets/image/logo_branco.png" alt="" />
    </div>
    <div *ngFor="let item of this.itens">
      <div class="menu-itens">
        <button class="btn-menu-itens" (click)="onRedirect(item.url)">
          <div class="icon">
            <mat-icon>{{ item.iconComponent }} </mat-icon>
          </div>
          <div class="item">
            {{ item.name }}
          </div>
        </button>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <header>
      <mat-toolbar *ngIf="this.title != 'login'">
        <button class="btn-menu" (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <button class="btn-menu" mat-button [matMenuTriggerFor]="beforeMenu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <button mat-menu-item (click)="logOut(); drawer.toggle(false)">
            <mat-icon>clear</mat-icon> Saída
          </button>
        </mat-menu>
      </mat-toolbar>
    </header>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
