<div class="login">
  <div class="container">
    <div class="gradient">
      <div class="logos">
        <img src="../../../assets/image/logoCGE_branco.png" width="300px" alt="" />
      </div>
      <div class="logos" style="margin-right: 50px;">
        <img src="../../../assets/image/logo_envia_branco.png" width="170px" alt="" />
      </div>
    </div>
    <form #loginForm="ngForm" class="form" (ngSubmit)="login()">
      <div class="input">
        <div style="font-size: 26px; font-weight: 700; margin-bottom: 15px;">
          <strong>Olá!</strong>
        </div>
        <div style="font-size: 18px; font-weight: 300; margin-bottom: 30px">
          Seja bem-vindo(a).
        </div>
        <div class="input-text">
          <div>
            <img style="margin: 0 25px 0 25px" src="../../../assets/icons/email.svg" alt="" />
          </div>
          <input type="email" [(ngModel)]="model.login" required class="text" name="username" id="username"
            placeholder="email@controladoria.mt.gov.br" />
        </div>
        <div class="input-text">
          <div>
            <img style="margin: 0 25px 0 25px" src="../../../assets/icons/cadeado.svg" alt="" />
          </div>
          <input type="password" [(ngModel)]="model.senha" required class="text" name="password" id="password"
            placeholder="Digite sua Senha" />
        </div>
        <div>
          <button [disabled]="loginForm.invalid" class="btn" type="submit">
            acessar
          </button>
        </div>
        <div>
          <div class="btn-google">
            <img class="" src="../../../assets/icons/google_logo.svg" />
          </div>
          <div class="btn-google" (click)="loginWithGoogle()">
            <b>Logar com Google</b>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
